@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,600&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Open+Sans:ital,wght@0,600;1,600&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
  margin: 0;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

img {
  width: 100%;
  object-fit: cover;
}

.mainGrid {
  display: grid;
}

body {
  width: 100vw;
}
body h1 {
  font-family: space mono, bold, sans-serif;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: rgb(73, 85, 103);
}
body h2 {
  font-family: space mono, bold, sans-serif;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14px;
  color: rgb(73, 85, 103);
}
body h3 {
  font-family: space mono, bold, sans-serif;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.79px;
}
body h4 {
  font-family: space mono, bold, sans-serif;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07px;
}
body p {
  font-family: lexend Deca, regular, sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: rgb(147, 156, 170);
}
body button {
  font-family: space mono, bold, sans-serif;
  font-size: 15px;
  line-height: 25px;
  background-color: rgb(252, 183, 43);
  color: rgb(242, 245, 249);
  border: none;
  width: 195px;
  height: 53px;
  text-transform: capitalize;
  transition: background-color 0.2s, color 0.2s, border 0.2s;
}
body button:hover {
  background-color: rgb(242, 245, 249);
  color: rgb(252, 183, 43);
  border: 2px solid rgb(252, 183, 43);
}
body .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: rgb(252, 183, 43);
  border: none;
  padding: 1.1em 4.5em;
  transition: background-color 0.2s, outline 0.2s;
}
body .btn:hover {
  background-color: rgb(242, 245, 249);
  outline: 2px solid rgb(252, 183, 43);
  outline-offset: -2px;
}
body .btn:hover .btn__text {
  color: rgb(252, 183, 43);
}
body .btn .btn__text {
  font-family: space mono, bold, sans-serif;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0;
  color: rgb(242, 245, 249);
  text-transform: capitalize;
  text-decoration: none;
  text-underline: none;
  transition: color 0.2s;
}

.headContainer {
  display: grid;
  grid-template-columns: 1fr 1110px 1fr;
  overflow: hidden;
}
.headContainer .mask {
  grid-area: 1/1/1/13;
  background-color: #2F3B59;
  opacity: 0.75;
  z-index: 1;
}
.headContainer img {
  grid-area: 1/1/1/13;
  object-fit: contain;
  background-color: #2F3B59;
  z-index: -1;
}
.headContainer .head {
  grid-column: 2;
  grid-row: 1;
  z-index: 2;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.headContainer .head h1 {
  grid-area: 1/1/1/3;
  color: rgb(242, 245, 249);
}

.worldMapContainer {
  display: grid;
  grid-template-columns: 1fr 1110px 1fr;
  position: relative;
}
.worldMapContainer .worldMap {
  grid-column: 2;
  margin-top: 120px;
  margin-bottom: 120px;
  width: 1110px;
  height: 543px;
  position: relative;
}
.worldMapContainer .worldMap img {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 100%;
}
.worldMapContainer .worldMap .worldMap__item--newYork, .worldMapContainer .worldMap .worldMap__item--london, .worldMapContainer .worldMap .worldMap__item--yokohama, .worldMapContainer .worldMap .worldMap__item--jakarta {
  width: 189px;
  height: 72px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(252, 183, 43);
}
.worldMapContainer .worldMap .worldMap__item--newYork h4, .worldMapContainer .worldMap .worldMap__item--london h4, .worldMapContainer .worldMap .worldMap__item--yokohama h4, .worldMapContainer .worldMap .worldMap__item--jakarta h4 {
  width: 100%;
}
.worldMapContainer .worldMap .worldMap__item--newYork .triangle, .worldMapContainer .worldMap .worldMap__item--london .triangle, .worldMapContainer .worldMap .worldMap__item--yokohama .triangle, .worldMapContainer .worldMap .worldMap__item--jakarta .triangle {
  position: absolute;
  bottom: -16px;
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid rgb(252, 183, 43);
}
.worldMapContainer .worldMap .worldMap__item--newYork {
  top: 71.44px;
  left: 147px;
}
.worldMapContainer .worldMap .worldMap__item--london {
  top: 18px;
  left: 393px;
}
.worldMapContainer .worldMap .worldMap__item--yokohama {
  top: 78px;
  left: 856px;
}
.worldMapContainer .worldMap .worldMap__item--jakarta {
  top: 251px;
  left: 779px;
}

.notListedContainer {
  display: grid;
  grid-template-columns: 1fr 1110px 1fr;
}
.notListedContainer .notListedGrid {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}
.notListedContainer .notListedGrid h2 {
  grid-area: 1/1/1/5;
  justify-self: start;
}
.notListedContainer .notListedGrid p {
  grid-area: 1/5/1/10;
  text-align: left;
  width: 100%;
}
.notListedContainer .notListedGrid a {
  grid-area: 1/10/1/13;
  width: 240px;
  justify-self: end;
}

/*# sourceMappingURL=desktop.css.map */
