@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,600&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Open+Sans:ital,wght@0,600;1,600&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.masterContainer {
  display: grid;
  grid-template-columns: 1fr 1050px 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
  background-color: #00001A;
}

.mainGrid {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(12, minmax(65px, 1fr));
  gap: 10px;
  height: 100vh;
  background-color: #ffffff;
}

.column {
  background-color: red;
  opacity: 0.2;
  height: 100%;
}

body h1 {
  font-family: space mono, bold, sans-serif;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
}
body h2 {
  font-family: space mono, bold, sans-serif;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14px;
}
body h3 {
  font-family: space mono, bold, sans-serif;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.79px;
}
body h4 {
  font-family: space mono, bold, sans-serif;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07px;
}
body p {
  font-family: lexend Deca, regular, sans-serif;
  font-size: 15px;
  line-height: 25px;
}
body button {
  font-family: space mono, bold, sans-serif;
  font-size: 15px;
  line-height: 25px;
  background-color: rgb(252, 183, 43);
  color: rgb(242, 245, 249);
  border: none;
  width: 195px;
  height: 53px;
  text-transform: capitalize;
}
body button:hover {
  background-color: rgb(242, 245, 249);
  color: rgb(252, 183, 43);
  border: 2px solid rgb(252, 183, 43);
}
body .btn {
  text-decoration: none;
  background-color: rgb(252, 183, 43);
  border: none;
  padding: 1.1em 4.5em;
}
body .btn:hover {
  background-color: rgb(242, 245, 249);
  border: 2px solid rgb(252, 183, 43);
}
body .btn:hover .btn__text {
  color: rgb(252, 183, 43);
}
body .btn .btn__text {
  font-family: space mono, bold, sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: rgb(242, 245, 249);
  text-transform: capitalize;
  text-decoration: none;
  text-underline: none;
}/*# sourceMappingURL=library.css.map */